<!DOCTYPE html>
<html lang="lv-LV">

<head>
    <title>HTML Tags</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="../css/custom.css" media="screen" title="no title" charset="utf-8">
    <link rel="icon" href="../images/Start(IT)SmallLogo.png">

</head>

<body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img src="../images/Start(IT)Logo.png" alt="Start(IT)"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="..\index.html">Sākums<span class="sr-only">(current)</span></a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Pirmā diena
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">GIT</a></li>
                            <li><a href="#">VSCode</a></li>
                            <li><a href="#">Agile/Scrum</a></li>
                            <li><a href="#">HTML tags</a></li>
                            <li><a href="#">CSS Selektori</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Plain JavaScript</a></li>
                    <li><a href="#">JavaScript + DOM</a></li>
                    <li><a href="#">Mācību Metodoloģija</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

    <div id="wrap">
        <div id="main">
            <div class="container theme-showcase lead text-center" role="main"></div>
                <h1>HTML elementi.</h1>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc. </p>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
                <p>Esmu paspējis apskatīt sekojošus HTML elementus: </p>
                <ul>
                    <li>Konteiners</li>
                    <li>Virsraksts</li>
                    <li>Rindkopa</li>
                    <li>Atribūts</li>
                </ul>
                Tagad par pašiem elementiem
                <ol>
                        <li>Nenumurēts sarakts</li>
                        <li>Numurēts saraksts</li>
                        <li>Attēls</li>
                        <li>Saraksta objekts</li>
                        <img scr= "../images/startitlogo.png" width= "104">
                        <li>Poga </li>
                        <button>Nespied!!!</button>
                        <li>Treknraksts</li>
                </ol>

                
            </div>
        </div>
    </div>
</body>

<footer class="mastfoot mt-auto container-fluid text-center bg-lightgray">
    <div class="copyrights">
        <p>Start(IT) © 2019
            <br>
            <span>Izstrādātājs: Komanda 1</span>
            <br>
            <span>Īpašnieks: Start(IT)</span>
            <br>
            <span>VEF Kultūras pils</span>
        </p>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="javaScript/bootstrap.min.js"></script>
<script type="text/javascript" src="javaScript/custom.js"></script>

</html>